/* CSS Made by Carlo Varriale carlos-way.deviantart.com */


#container{

	height:580px;
	width:1000px;
	margin:auto;

}

body {

	text-align:center;
	padding-top:8%;
	font-family:Open Sans, Segoe UI,sans-serif;
	color:gray;

}

#container_left{

	float:left;
	height:580px;
	width: 500px;
	text-align:right;
	

}


#container_right{

	float:right;
	height:100%;
	width: 498px;
	text-align:left;
	border-left:1px dashed #B4B4B4;
	
	
	
}

#logo{

	background:url("../images/logo.png") no-repeat;
	width:200px;
	height:75px;
	margin-left:250px;
	border-style:none;
	margin-right:50px;

}

#login_container{


	margin-top:70px;
	height:320px;
	padding-left:70px;


}


.input_text{

		border:none;
		border:1px solid lightgray;
		height:30px;
		font-family:Open Sans, Segoe UI, sans-serif;
		padding-left:5px;
		width:150px;
		height:30px;

}

.input_name{

	font-family:Open Sans,Segoe UI,sans-serif;
	font-size:14px;

}


#bg_quotes{

	background:url("../images/cits_q.png") no-repeat;
	height:400px;
	width:440px;
	margin:auto;
	margin-right:-1px;

}

button{

	border:1px solid lightgray;
	height:39px;
	width:120px;
	font-family:Open Sans, Segoe UI, sans-serif;

}

#logo_container{

	width:100%;
	height:150px;
	

}

#phrase{

	margin-right:50px;
	font-weight:lighter;
	color:#5ebb15;

}


#description{

	
	padding-left:70px;
	font-weight:lighter;
	font-size:18px;
	margin-top:50px;
	color:gray;


}


#footer{

	width:100%;
	height:100px;
	margin-top:20px;

}

#links{

	width:50%;
	text-align:right;
	height:100%;
	float:left;
	margin-top:20px;
	
	
}

a{

	text-decoration:none;
	color:#5ebb15;
	margin-right:20px;
	

}


#iti_logo{

	margin-right:240px;
	margin-top:20px;

}


#link_c{

	width:240px;
	margin:auto;
	margin-top:-55px;
	margin-right:-10px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;

}

#login_failed{
    color: red;
    font-weight:lighter;
}





